@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans&display=swap');

$dark-violet: #1c132d;
$light-mint: #a7ffcd;
$yellow: #dcba31;

$font-header:  'Gloria Hallelujah';
$font-main: 'Open Sans';